body {
  background-color: #1b1b1b;
}

.title {
  color: #eeeeee;
  text-align: center;
  font-size: 3em;
  font-family: 'Gravitas one', cursive;
}

.title a {
  text-decoration: none;
  color: #eee;
}

.instructions {
  color: #eeeeee;
  width: 75%;
  margin: 1.25em auto;
  font-size: 1.25em;
  text-align: center;
  line-height: 1.5em;
}

#gif-form {
  font-size: 5vh;
  text-align: center;
}

label {
  color: #eeeeee;
}

#gif-input {
  line-height: 2.75em;
  width: 200px;
  font-size: 15px;
}

#add-gif {
  font-size: 3vh;
  padding: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
  border-radius: 7px;
  background-color: #eeeeee;
}

#clear-gifs {
  text-align: center;
  margin: 1em auto;
  display: inline-block;
  font-size: 3vh;
  border-radius: 7px;
  padding: 0.5em;
  cursor: pointer;
  background-color: #eeeeee;
}

#favorites-link {
  text-align: center;
  margin: 1em auto;
  display: inline-block;
  font-size: 3vh;
  border-radius: 7px;
  padding: 0.5em;
  cursor: pointer;
  background-color: #eeeeee;
}

#favorites-link a, #favorites-link a:visited {
  text-decoration: none;
  color: #1d1d1d;
}

img {
  cursor: pointer;
}

figure {
  display: inline-block;
  text-align: center;
  font-style: italic;
  margin: 1em;
  padding: 0;
}

.rating {
  color: #eeeeee;
}

.fav-button {
  margin: 0 1em;
  cursor: pointer;
  background-color: #eeeeee;
  border-radius: 3px;
}

.fav-button:active {
  background-color: #007aeb;
}

#fav-title {
  color: #eeeeee;
  text-align: center;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0.5em;
}

#favorites-display img {
  float: left;
  text-align: center;
  font-style: italic;
  margin: 1em;
  padding: 0;
}

#clear-favorites {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  font-size: 3vh;
  border-radius: 7px;
  padding: 0.5em;
  cursor: pointer;
  background-color: #eeeeee;
}

.next-prev {
  text-align: center;
}

#next-page, #prev-page {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0.75em 0.5em;
  border-radius: 10px;
}

#next-page:hover, #prev-page:hover {
  cursor: pointer;
}

#gif-container {
  text-align: center;
}